body, html {
    margin: 0;
    padding: 0;
}

#racetrack{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
}

.horse{
  position: absolute;
  left:0;
  width: 10%;
  height: 10%;
  box-shadow: 0 0 10px 10px white, 3px 3px 5px 5px black;
  transition: left .4s;
  transition-timing-function: linear;
}
.horse::after{
  content: attr(data-jumpCount)
}

#horse1{
  background-image: url(/images/AjFP5.png);
  width: 64px;
  height: 64px;
  background-position-y: 128px;
  top: 12%;
}

#horse2{
  background-color: goldenrod;
  top: 34%;
}

#horse3{
  background-color: green;
  top: 56%;
}

#horse4{
  background-color: orange;
  top: 78%;
}

#finish{
  position: absolute;
  width: 10%;
  height: 100%;
  right: 0px;
  background-color: yellowgreen;
  z-index: -1;
}
